@media screen and (max-width: 620px){
    #FlexX2{
        display: block;
    }

    .Flex1 img{
        width: 90%;
    }
    .Flex2 img{
        width: 40%;
    }

}

@media screen and (min-width: 621px) and (max-width: 999px){
    #FlexX2{
        display: block;
    }
    
    .Flex1 img{
        width: 50%;
    }
    .Flex2 img{
        width: 40%;
    }
}

@media screen and (min-width: 1000px){
    #FlexX2{
        display: flex;
    }

    .Flex1 img{
        width: 80%;
    }

    .Flex2 img{
        width: 50%;
    }
}

body{
    background-color:#212429;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
}

/*Menu*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    margin-left: 2%;
    width: 100%;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: 3;
}

nav a{
    color: #ddd;
    font-size: large;
    display: block;
    text-decoration: none;
    padding: 0 2.5em;
    transition: .4s;
}

nav a:hover{ /*casilla al pasar el raton*/
    background: rgba(0, 0, 0, 0.5);
}

nav li{
    line-height: 3rem;
}

nav ul{
    list-style: none;
    padding: 0%;
}
nav > ul{
    background-color: none;
    display: table;
    width: 100%;
}

nav > ul > li{
    float: left;
}

p{/*parrafos*/
    color: aliceblue;
    font-size: large;
}

#menu{
    background-color: #272b33;
}

main{
    width: 100%;
}

h1{
    color: aliceblue;
}

/*2 elementos alineados*/
#FlexX2 {
    text-align: center;
    align-items: center;
}

#Flex1 {
    flex: 1; /* Toma el espacio necesario */
}

#Flex2{
    flex: 1;
    margin-left: -50px;
}

/*Inicio*/
.texto-1{/*Desarrollador de software*/
    text-decoration: underline;
    color: rgb(0, 176, 240);
}

.CV{/*Boton CV*/
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #156082;
    z-index: 2;
    width: 200px;
    height: 28px;
    background-image: url('file:///C:/Users/Kevin%20Gualteros/GitHub%20Repository/gualterosky.github.io/images/cv.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
.CV:hover {/*Botones general*/
    filter: brightness(1.5); /*Hace brillante el boton*/
    transform: scale(1.1); /*Agranda el boton*/
  }

.Profile_button{/*Botones general*/
    min-width: 130px;
    height: 28px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #156082;
    box-shadow: 5px 5px 5px rgb(95, 94, 94);
  }

.Profile_button:hover {/*Botones general*/
    filter: opacity(0.5);
    box-shadow: 1px 1px 1px #272b33;
  }

.Profile_button:active {
    color: aliceblue;
  }

  /*Contenido sobre mi*/
#contenido td{
    width: 50%;
}

#imagen-contenido{
    text-align: center;
}

#contenido img{
    max-width: 80%;
}

/*Tabla de habilidades*/
#Habilidades-table{
    border-spacing: 10px
}

#Habilidades-table td{
    width: 70px;
    height: 70px;
    background-color: rgb(221, 221, 221, 0.3);
    border-radius: 15px;
    text-align: center;
}

#Habilidades-table td:hover{
    transform: scale(1.1);
}

#Habilidades-table img{
    min-width: 35px;
    max-height: 52px;
    max-width: 52px;
}

/*Tabla de proyectos*/
#tabla-proyectos{
    border-spacing: 30px
}

/*Contenedor del proyecto*/
.proyectos{
    background-color: #383D46;
    border-radius: 20px;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 3px;
}

.proyectos img{ /*imagenes de proyectos*/
    border-radius: 12px;
    width: 92%;
    vertical-align: top; /* Alinea la imagen hacia arriba dentro de su contenedor */
}

.proyectos:hover{ 
    filter: brightness(1.15);
    transform: scale(1.1); 
}

.proyectos h3{
    color: #fff;
}

article li{
    color: #ddd;
    font-size: large;
}

.GitHub_button{
    margin-right: 15px;
}

/*Pie de pagina*/
footer{
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Centrado del contenido */
    padding: 15px; /* Espaciado interior */
    bottom: 0; /* Fijar al fondo de la página */   
}

footer p{
    margin: 0;
}