/*Telefonos*/
@media screen and (max-width: 480px){
    #FlexX2{
        display: block;
    }

    .Flex1 img{
        width: 90%;
    }
    .Flex2 img{
        width: 60%;
    }

    #pfpbutton{
        text-align: center;
    }
}

/*Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px){
    #FlexX2{
        display: block;
    }
    
    .Flex1 img{
        width: 50%;
    }

    .Flex1{
        width: 100%;
    }

    .Flex2 img{
        width: 45%;
    }

    .Proyectos-flex{
        display: block;
    }
}

/*Pantallaspequeñas*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    #FlexX2{
        display: flex;
    }

    .Flex1{
        width: 100%;
    }

    .Flex1 img{
        width: 50%;
    }

    .Flex2 img{
        width: 60%;
    }

    .Proyectos-flex{
        display: flex;
    }

}

/*Computadoras*/
@media screen and (min-width: 1025px){
    #FlexX2{
        display: flex;
    }
    
    .Flex1{
        width: 100%;
    }   

    .Flex2 img{
        width: 50%;
    }

    .Proyectos-flex{
        display: flex;
    }
}

body{
    background-color:#212429;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
}

/*Menu*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    margin-left: 2%;
    width: 100%;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: 3;
}

nav a{
    color: #ddd;
    font-size: large;
    display: block;
    text-decoration: none;
    padding: 0 2.5em;
    transition: .4s;
}

nav a:hover{ /*casilla al pasar el raton*/
    background: rgba(0, 0, 0, 0.5);
}

nav li{
    line-height: 3rem;
}

nav ul{
    list-style: none;
    padding: 0%;
}
nav > ul{
    background-color: none;
    display: table;
    width: 100%;
}

nav > ul > li{
    float: left;
}

p{/*parrafos*/
    color: aliceblue;
    font-size: large;
}

#menu{
    background-color: #272b33;
}

main{
    width: 100%;
}

h1{
    color: aliceblue;
}

/*2 elementos alineados*/
#FlexX2 {
    text-align: center;
    align-items: center;
}

#Flex1 {
    flex: 1; /* Toma el espacio necesario */
}

#Flex2{
    flex: 1;
    margin-left: -50px;
}

/*Inicio*/

#Hand-hello{
    width: 30px;
}
.texto-1{/*Desarrollador de software*/
    text-decoration: underline;
    color: rgb(0, 176, 240);
}

.CV{/*Boton CV*/
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #156082;
    z-index: 2;
    width: 200px;
    height: 28px;
    background-image: url('https://gualterosky.github.io/Images/cv.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
.CV:hover {/*Botones general*/
    filter: brightness(1.5); /*Hace brillante el boton*/
    transform: scale(1.1); /*Agranda el boton*/
  }

    /*Contenido sobre mi*/

    #contenido{
        text-align: left;
    }

.Profile_button{
    min-width: 130px;
    height: 28px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #156082;
    box-shadow: 5px 5px 5px rgb(95, 94, 94);
  }

.Profile_button:hover {/*Botones general*/
    filter: opacity(0.5);
    box-shadow: 1px 1px 1px #272b33;
  }

#contenido p{
    text-align: justify;
  }

/*Tabla de habilidades*/
#Habilidades-table{
    border-spacing: 10px
}

#Habilidades-table td{
    width: 70px;
    height: 70px;
    background-color: rgb(221, 221, 221, 0.3);
    border-radius: 15px;
    text-align: center;
}

#Habilidades-table td:hover{
    transform: scale(1.1);
}

#Habilidades-table img{
    min-width: 35px;
    max-height: 52px;
    max-width: 52px;
}

/*Tabla de proyectos*/
#tabla-proyectos{
    width: 80%;
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap: 150px;
}

/*Contenedor del proyecto*/
.proyectos{
    background-color: #383D46;
    border-radius: 20px;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 3px;
}

.proyectos img{ /*imagenes de proyectos*/
    border-radius: 12px;
    width: 92%;
    vertical-align: top; /* Alinea la imagen hacia arriba dentro de su contenedor */
}

.proyectos:hover{ 
    filter: brightness(1.15);
    transform: scale(1.1); 
}

.proyectos h3{
    color: #fff;
}

article li{
    color: #ddd;
    font-size: large;
}

.GitHub_button{
    margin-right: 15px;
}

/*Pie de pagina*/
footer{
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Centrado del contenido */
    padding: 15px; /* Espaciado interior */
    bottom: 0; /* Fijar al fondo de la página */   
}

footer p{
    margin: 0;
}