body{
    background-color:#212429;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}
.menu{
    background-color: #272b33;
}

main{
    width: 100%;
}

p{/*parrafos*/
    color: aliceblue;
    font-size: large;
}

nav{/*Menu*/
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    margin-left: 2%;
    width: 100%;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: 3;
}

nav a{
    color: #ddd;
    font-size: large;
    display: block;
    text-decoration: none;
    padding: 0 2.5em;
    transition: .4s;
}

nav a:hover{ /*casilla al pasar el raton*/
    background: rgba(0, 0, 0, 0.5);
}

nav li{
    line-height: 3rem;
}

nav ul{
    list-style: none;
    padding: 0%;
}
nav > ul{
    background-color: none;
    display: table;
    width: 100%;
}

nav > ul > li{
    float: left;
}

h1{/*Titulos*/
    color: aliceblue;
}

.texto-1{
    text-decoration: underline;
    color: rgb(0, 176, 240);
}

.CV{/*Boton CV*/
    width: 220px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #156082;
    z-index: 2;
  }
.CV:hover {/*Botones general*/
    filter: brightness(1.5);
  }

button{/*Botones general*/
    min-width: 130px;
    height: 28px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #156082;
    box-shadow: 5px 5px 5px rgb(95, 94, 94);
  }

button:hover {/*Botones general*/
    filter: opacity(0.5);
    box-shadow: 1px 1px 1px #272b33;
  }

button:active {
    color: aliceblue;
  }
#tabla-proyectos{
    border-spacing: 25px
}

table{
    font-size: large;
    color: #fff;
}

.proyectos{
    background-color: #156082;
    border-radius: 20px;
    width: 300px;
    height: 355px;
    text-align: center;
    margin: 3px;
}

.proyectos img{
    border-radius: 15px;
    width: 90%;

}

.proyectos h3{
    color: #fff;
}

article li{
    color: #ddd;
    font-size: large;
}
#Informacion{
    width: 50%;
    text-align: justify;
}