@media screen and (max-width: 620px){
    #content {
        width: 95%;
    }
}

@media screen and (min-width: 621px) and (max-width: 999px){
    #content {
        width: 55%;
    }
}

@media screen and (min-width: 1000px){
    #content {
        width: 40%;
    }
}

body{
    background-image: url('https://gualterosky.github.io/Images/Banner%20gualterosky.png');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Inter;
    font-size: 14px;
    background-attachment: fixed;
}

#content{
    min-height: 425px;
    background-color: hsl(0, 0%, 12%, 0.97);
    margin: 100px auto;
    border: 1px solid hsl(0, 0, 12%);
    border-radius: 10px;
    overflow: hidden;
}

#menu{
    text-align: center;
}

#header img{
    width: 100px;
    margin-top: 50px;
    border-radius: 100%;
}

#header #title{
    color: hsl(0, 0%, 100%)
}

#header p{
    color: hsl(75, 94%, 57%);
    margin-bottom: 30px;
}

#header blockquote{
    color: #CCCCCC;
    margin-bottom: 20px;

}

#sections button.btn{
    width: 80%;
    background-color: hsl(0, 0%, 20%);
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    align-items: center; 
}

#sections a{
    color: #FFFFFF;
    text-decoration: none;
}

#sections a:hover{
    color: white;
}

#sections button:hover{
    background-color: gray;
    box-shadow: 1px 1px 1px rgb(165, 161, 161);
    transform: scale(1.1);
}

#sections button img{
    height: 25px;
    margin-right: 5px;
}

#sections button.webbtn{
    width: 40%;
    background-color: hsl(0, 0%, 20%);
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

#sections button.webbtn:hover{
    background-color: gray;
    box-shadow: 1px 1px 1px rgb(165, 161, 161);
    transform: scale(1.1);
}

#ifnav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 60px;
}

footer{
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Centrado del contenido */
    padding: 20px; /* Espaciado interior */
    bottom: 0; /* Fijar al fondo de la página */   
}

footer p{
    margin: 0;
}